@(activityTypes:List[ActivityType], prices:List[Price], statuses:List[Status], days:List[Day], years:List[Year])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/lib/bootstrap-select/css/bootstrap-select.min.css">
    <script src="/assets/lib/bootstrap-select/js/bootstrap-select.js"></script>
</head>
<body>

<div class="container">
    <img src="/assets/images/couple-at-dinner-table-cropped.jpg" height=200">

</div>
<div class="container">
    <div class="jumbotron" text="center"> </div>
        <h1> Date Plans Generator</h1>
    </div>

<br>

<form method="POST" action="/getActivities">
    <label>What type of date would you like? </label>
    <br>
    <br>
    <select name="activityTypeId" class="selectpicker" data-style="btn-default">
        @for(activityType <- activityTypes){
        <option value="@activityType.getActivityTypeId()">@activityType.getActivityTypeName()</option>
        }
    </select>
    <br>
    <br>
    <label>What is your relationship status?</label>
    <br>
    <br>
    <select name="statusId" class="selectpicker" data-style="btn-default">
        @for(status <- statuses){
        <option value="@status.getStatusId()">@status.getStatusName()</option>
        }
    </select>
    <br>
    <br>
    <label>What is your budget?</label>
    <br>
    <br>
    <select name="priceId" class="selectpicker" data-style="btn-default">
        @for(price<- prices){
        <option value="@price.getPriceId()">@price.getPriceName()</option>
        }
    </select>
    <br>
    <br>
    <label>What time of day?</label>
    <br>
    <br>
    <select name="timeOfDayId" class="selectpicker" data-style="btn-default">
        @for(day<- days){
        <option value="@day.getTimeOfDayId()">@day.getTimeOfDayName()</option>
        }
    </select>
    <br>
    <br>
    <label>Which season? </label>
    <br>
    <br>
    <select name="timeOfYearId" class="selectpicker" data-style="btn-default">
        @for(year<- years){
        <option value="@year.getTimeOfYearId()">@year.getTimeOfYearName()</option>
        }
    </select>
    <br>
    <br>
    <p><input type="submit" value="Plan my date!"></p>


</form>
</body>
</html>
